body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0px;
  margin: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul, li {
  display: block;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
.dflex {
  display: flex;
} 
.app {
  position: relative;
}
.app_nav {
  position: absolute;
  width: 100%;
  -webkit-box-shadow: 2px 3px 17px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 17px 0px rgba(0,0,0,0.75);
box-shadow: 2px 3px 17px 0px rgba(0,0,0,0.75);
}
.app_content {
  padding-top: 50px;
}